<template>
    <f7-page>
        <f7-navbar>
            <div class="title">Todo List</div>
        </f7-navbar>
        <f7-block>
            <section class="todoapp" v-cloak>
                <header class="header">
                    <h1>todos</h1>
                    <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" v-model="newTodo" @keyup.enter="addTodo">
                </header>
                <section class="main" v-show="todos.length">
                    <input class="toggle-all" type="checkbox" v-model="allDone">
                    <ul class="todo-list">
                        <li class="todo" 
							v-for="todo in filteredTodos"
							v-bind:key="todo.id"
							:class="{completed: todo.completed, editing: todo == editedTodo}">
                            <div class="view">
                                <input class="toggle" type="checkbox" v-model="todo.completed">
                                <label @dblclick="editTodo(todo)">{{todo.title}}</label>
                                <button class="destroy" @click="removeTodo(todo)"></button>
                            </div>
                            <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editedTodo" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)"
                         	   @keyup.esc="cancelEdit(todo)">
                        </li>
                    </ul>
                </section>
                <footer class="footer" v-show="todos.length">
                    <span class="todo-count">
                        <strong v-text="remaining"></strong> {{pluralize('item', remaining)}} left
                    </span>
                    <ul class="filters">
                        <li>
                            <a href="#/all" :class="{selected: visibility == 'all'}">All</a>
                        </li>
                        <li>
                            <a href="#/active" :class="{selected: visibility == 'active'}">Active</a>
                        </li>
                        <li>
                            <a href="#/completed" :class="{selected: visibility == 'completed'}">Completed</a>
                        </li>
                    </ul>
                    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
                        Clear completed
                    </button>
                </footer>
            </section>
            <footer class="info">
                <p>Double-click to edit a todo</p>
                <p>Written by
                    <a href="http://evanyou.me">Evan You</a>
                </p>
                <p>Part of
                    <a href="http://todomvc.com">TodoMVC</a>
                </p>
            </footer>

        </f7-block>
    </f7-page>
</template>
<script>
    // localStorage persistence
	import todoStorage from '../../js/todo-storage.js'
	
    // visibility filters
    var filters = {
        all: function (todos) {
            return todos
        },
        active: function (todos) {
            return todos.filter(function (todo) {
                return !todo.completed
            })
        },
        completed: function (todos) {
            return todos.filter(function (todo) {
                return todo.completed
            })
        }
    }

    export default {
        data() {
            return {
                todos: todoStorage.fetch(),
                newTodo: '',
                editedTodo: null,
                visibility: 'all'
            }
        },
        computed: {
            filteredTodos: function () {
                return filters[this.visibility](this.todos)
            },
            remaining: function () {
                return filters.active(this.todos).length
            },
            allDone: {
                get: function () {
                    return this.remaining === 0
                },
                set: function (value) {
                    this.todos.forEach(function (todo) {
                        todo.completed = value
                    })
                }
            }
        },
        methods: {
            pluralize: function (word, count) {
                return word + (count === 1 ? '' : 's');
            },
            addTodo: function () {
                var value = this.newTodo && this.newTodo.trim()
                if (!value) {
                    return
                }
                this.todos.push({
                    id: todoStorage.uid++,
                    title: value,
                    completed: false
                })
                this.newTodo = ''
            },

            removeTodo: function (todo) {
                this.todos.splice(this.todos.indexOf(todo), 1)
            },

            editTodo: function (todo) {
                this.beforeEditCache = todo.title
                this.editedTodo = todo
            },

            doneEdit: function (todo) {
                if (!this.editedTodo) {
                    return
                }
                this.editedTodo = null
                todo.title = todo.title.trim()
                if (!todo.title) {
                    this.removeTodo(todo)
                }
            },

            cancelEdit: function (todo) {
                this.editedTodo = null
                todo.title = this.beforeEditCache
            },

            removeCompleted: function () {
                this.todos = filters.active(this.todos)
            }
        },
        directives: {
            'todo-focus': function (el, binding) {
                if (binding.value) {
                    el.focus();
                }
            }
        },
        watch: {
            todos: {
                handler: function (todos) {
                    todoStorage.save(todos)
                },
                deep: true
            }
        }
    }

</script>
<style lang="scss">
    .todoapp {
        h1 {
            top: -200px;
        }
    }
    .todo-list {
        li {
            font-size: 16px;
        }
    }

    [v-cloak] {
        display: none;
    }

    .footer {
        height: 70px;
    }

</style>
